/* images */
@mixin img {
    display: block;
    max-width: 100%;
    height: auto;
}
  
@mixin cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* ! images */

// reset buttons
@mixin resetbutton($padding: 0) {
    border: none;
    margin: 0;
    padding: $padding;
    width: auto;
    background: transparent;
    cursor: pointer;
    appearance: none;
    outline: none;
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
}

@mixin custom-container {
    max-width: $container;
    margin: 0 auto;
    @include container-full();
}

@mixin body {
    font-family: $base-font;
    font-size: $base-font-size;
    font-weight: 400;
}

@mixin resetLink{
    color: $black;
    text-decoration: none;
}