section.section-catalog
    .section-catalog__body.section-inner
        .section-catalog__title
            +title("МЕНЮ")
        .section-catalog__cards
            .cards
                .cards__item(id="product_1")
                    .cards__img
                        img(src="./img/section-catalog/card-img.jpg")
                        .cards__hidden
                            button(type="button") Подробнее
                    .cards__bottom
                        .cards__name.base-hover-link Классическая
                        .cards__price от 130 ₽
                    div.d-none(data-title="Классичская &#128525; шаурма на углях")
                    div.d-none(data-desc="Сытная закуска, нежная курица или свинина на Ваш выбор, фирменный соус, морковка по корейски, свежие овощи.")
                    div.d-none(data-size="300 грамм")
                    div.d-none(data-price="от 130 ₽")
                .cards__item(id="product_2")
                    .cards__img
                        img(src="./img/section-catalog/chees.jpg")
                        .cards__hidden
                            button(type="button") Подробнее
                    .cards__bottom
                        .cards__name.base-hover-link Сырная
                        .cards__price от 140 ₽
                    div.d-none(data-title="Шаурма сырная на углях")
                    div.d-none(data-desc="Отличная перекус, с нежным сыром и сырным соусом, нежная курица или свинина на Ваш выбор, фирменный соус.")
                    div.d-none(data-size="300 грамм")
                    div.d-none(data-price="от 140 ₽")
    +popup("product_1-modal")
    +popup("product_2-modal")
