.menu
    ul.menu__items
        li.menu__item.base-hover-link
            a.menu__item-link(href="#") Главная
        li.menu__item.base-hover-link
            a.menu__item-link(href="#") Каталог
        li.menu__item.base-hover-link
            a.menu__item-link(href="#") Отзывы
        li.menu__item.base-hover-link
            a.menu__item-link(href="#") Контакты