.contacts {
    &__body {
        display: flex;
        justify-content: space-between;
        color: $white;
    }

    &__content {
        display: flex;
        flex: 0 1 50%;
        flex-direction: column;
        padding-top: $base*20;
        padding-bottom: $base*20;
        margin-right: 0;
    }

    &__item-info {
        span {
            display: inline-block;
            border-bottom: 2px solid $white;
        }
    }

    &__item-info:not(:last-child) {
        margin-bottom: $base*2;
        padding-bottom: $base*2;
    }

    &__point {
        flex: 0 1 50%;
    }

    &__point-img {
        @include cover("../img/contacts/Stall.jpg");
        height: 100%;

        img {
            @include img;
        }
    }

    &__address {
        font-size: rem(30);
    }

    &__mobile-block {
    }

    &__mobile-block &__mobile:last-child {
        margin-top: $base*2;
    }

    &__time,
    &__mobile,
    &__email {
        font-size: rem(24);
    }

    &__map {
        position: absolute;
        top: 0;
        right: 0;
    }
}
