section.contacts
    .contacts__body#parallax-contact(data-parallax="scroll" data-image-src="./img/contacts/bg_contact.webp")
        .contacts__content.section-inner_half
            .contacts__address.contacts__item-info 
                span г. Старый Оскол,#[br]бульвар Дружбы, 2А
            .contacts__time.contacts__item-info #[span Время работы:] 11:00 &ndash; 23:00  
            .contacts__mobile-block.contacts__item-info 
                .contacts__mobile
                    a.contacts__mobile-name(href="tel:+79507174848") #[span Телефон:] 8 (950) 717-48-48
                .contacts__mobile
                    a.contacts__mobile-name(href="tel:+79040870275") #[span Телефон:] 8 (904) 087-02-75
            .contacts__email.contacts__item-info 
                a(href="email:maks.riapolov@yandex.ru") #[span Почта:] maks.riapolov@yandex.ru
        .contacts__point
            .contacts__point-img
    iframe(src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=219796797166" width="100%" height="400" frameborder="100px")