mixin popup(id="")
    .popup(id=id)
        .popup__bg
        .popup__body
            .popup__wrapper
                .popup__close
                    .fas.fa-times-circle
                .popup__left
                    .popup__title asdas
                    .popup__text-block
                        .popup__text-item Сытная закуска, нежная курица или свинина на Ваш выбор, фирменный соус, морковка по корейски, свежие овощи
                        .popup__info
                            .popup__size 300/400 грамм
                            .popup__price от 120 ₽
                    .popup__social
                        script(type="text/javascript")
                            include ./vk.js
                .popup__right
                    .popup__img-wrapper