mixin popup(id="")
    .popup(id=id)
        .popup__bg
        .popup__body
            .popup__wrapper
                .popup__close
                    .fas.fa-times-circle
                .popup__left
                    .popup__title
                    .popup__text-block
                        .popup__text-item
                        .popup__info
                            .popup__size
                            .popup__price
                    .popup__social
                        script(type="text/javascript")
                            include ./vk.js
                .popup__right
                    .popup__img-wrapper