extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block header
	include ../blocks/modules/header/index.pug

block content
	include ../blocks/modules/section-catalog/index.pug
	include ../blocks/modules/contacts/index.pug

block footer
	include ../blocks/modules/footer/index.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
