.section-title {
    h2 {
        display: inline-block;
        position: relative;
        z-index: 5;
        text-transform: uppercase;

        &::after {
            content: "";
            position: absolute;
            z-index: -5;
            left: 0;
            background-color: $orange;
            width: $base*14;
            height: $base*14;
            -webkit-transform: skewX(-20deg);
            -o-transform: skewX(-20deg);
            -moz-transform: skewX(-20deg);
            transform: skewX(-20deg);
        }
    }
}

.section-subtitle {
    position: relative;
    font-size: rem(30);
    color: $white;
    z-index: 10;

    h2 {
        background-color: $orange;
        padding: $base $base*2;
        display: inline-block;
    }

    h2:after {
        content: "";
        position: absolute;
        border-bottom: 3px solid $orange; 
        width: 100%;
        bottom: -2px;
        left: 0;


    }
}