.advantages
    .advantages__item
        .advantages__item-icon
            object.icon(type="image/svg+xml" data="./img/svg/Like.svg")
                img(src="./img/svg/Like.svg")
        .advantages__item-text Гарантия качества
    .advantages__item
        .advantages__item-icon
            object.icon(type="image/svg+xml" data="./img/svg/burger.svg")
                img(src="./img/svg/burger.svg")
        .advantages__item-text Разнообразие меню
    .advantages__item
        .advantages__item-icon
            object.icon(type="image/svg+xml" data="./img/svg/tomato.svg")
                img(src="./img/svg/tomato.svg")
        .advantages__item-text Только свежие продукты