.social
    ul.social__items
        li.social__item.base-hover-link
            a.social__item-link(href="https://www.instagram.com/" target="_blank")
                i.fab.fa-instagram(aria-hidden="true")
        li.social__item.base-hover-link
            a.social__item-link(href="https://vk.com/" target="_blank")
                i.fab.fa-vk(aria-hidden="true")